.navbar {
    background-color:black;
    position: fixed; /* Set the navbar to fixed position */
    top:0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  opacity:1;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float:right;
    display: block;
    color: white;
    font-family: 'Coiny', cursive;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
  }
  .center{
    display:inline-table;
    margin-left:450px;
    margin-right:auto;
    width:15%;
  }
  /* Change background on mouse-over */
  .navbar a:hover {
    font-family: 'Coiny', cursive;
    color: white;
  }
  
.top-right{
position:absolute;
top: 100px;
right:510px;
color:white;

}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input-container {
  display: flex;
  width:40%;
  margin-bottom: 25px;
  margin-left: 350px;
  margin-top:40px;
  color:black ;
  
}

/* Style the form icons */
.icon {
  padding: 25px;
  font-family: 'Coiny', cursive;
  background: white;
  color: rgb(7, 6, 6);
  min-width: 60px;
  text-align: center;
  border-radius:35px;
}

#bts{
  position: fixed;
  top:20%;
}